h2, h3 {
    color:rgb(0, 90, 150);
}

main > header {
    text-align: center;
    color: rgb(0, 90, 150);
}

table {
    width: 70%;
    border: 1px solid grey;
}
/*Original CSS codes sourced and adapted for educational purposes: 
https://www.w3schools.com/Css/css_table_size.asp  */

th {
    height: 70px;
    border: 1px solid grey;
}
/*Original CSS codes sourced and adapted for educational purposes: 
https://www.w3schools.com/Css/css_table_size.asp  */

td{
    border: 1px solid grey;
}
section > div {
    position: relative;
    left: 15%;
}

.content {
    position: relative;
    left: 15%; 
}

strong {
    color:rgb(0, 90, 150);
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    #selling_price th:nth-child(2n+1) {
        width: 30%;
    }

    #selling_price th:nth-child(2n) {
        width: 40%;
    }

    section > div {
        position: relative;
        left: 0%;
    }
}

@media only screen and (max-width:767px) {
    #selling_price th:nth-child(2n+1) {
        width: 30%;
    }
    #selling_price th:nth-child(2n) {
        width: 40%;
    }
    section > div {
        position: relative;
        left: 0%;
    }
}
