.logo-home > a{
    display: flex;
    justify-content: center;
}

header > .logo-home > a > img{
    width: 40%;
    height: 200px;
    object-fit: contain;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .logo-home {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .logo-home {
        display: none;
    }
}