body, html {
    height: 100%;
    margin: 0;
    background-image: url("image/prototype_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#topnav ul, #botnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    background-color: rgb(109, 133, 150);
}

#topnav li {
    float: right;
    border-left: 1px solid white;
}

#botnav li {
    display: inline;
    float: right;
}

#topnav li:last-child {
    border: none;
}

#topnav a, #botnav a, .dropbutton {
    display: block;
    padding: 16px 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#topnav a:hover:not(.active), .dropdown:hover .dropbutton {
    background-color: rgb(80, 122, 150);
}

#topnav .active {
    background-color: rgb(0, 90, 150);
}

.dropdown {
    display: block;
}

.drop-content {
    display: none;
    background-color: rgb(109, 133, 150);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:first-child {
    border-bottom: 1px solid white;
}

.drop-content a:hover {
    background-color: rgb(180, 180, 180);
}

.dropdown:hover .drop-content {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #topnav ul {
        width: 27%;
        position: fixed;
        height: 100%;
    }
    #topnav li {
        float: none;
        border: none;
    }
    #topnav a {
        padding: auto;
        font-size: medium;
    }
    .drop-content {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #topnav li {
        float: none;
        border: none;
    }
    #topnav a {
        padding: auto;
        font-size: small;
    }
    .drop-content {
        width: 100%;
    }
}