body, html {
    height: 100%;
    margin: 0;
    background-image: url("image/prototype_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#topnav ul, #botnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: auto;
    background-color: rgb(109, 133, 150);
}

#topnav li {
    float: right;
    border-left: 1px solid white;
}

#botnav li {
    display: inline;
    float: right;
}

#topnav li:last-child {
    border: none;
}

#topnav a, #botnav a {
    display: block;
    padding: 16px 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#topnav a:hover:not(.active) {
    background-color: rgb(80, 122, 150);
}

#topnav .active {
    background-color: rgb(0, 90, 150);
}

@media screen and (max-width: 480px) {
    #topnav li, #botnav li {float: none;}
}