body {
    margin: 0;
}

#topnav ul, #botnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(173, 173, 173);
}

#topnav li {
    float: right;
    border-left: 1px solid white;
}

#botnav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#botnav li {
    display: inline;
    float: right;
}

#topnav li:last-child {
    border: none;
}

#topnav a, #botnav a {
    display: block;
    padding: 16px 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#topnav a:hover:not(.active) {
    background-color: rgb(122, 122, 122);
}

#topnav .active {
    background-color: rgb(0, 90, 150);
}

@media screen and (max-width: 500px) {
    #topnav li, #botnav li {float: none;}
}