main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section{
    display: block;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

main > section > header{
    font-size: 20px;
}

/** I found root here: https://codepen.io/Coding_Journey/pen/yWjWKd **/
:root{
    --scroll-width: 80vw;
    --scroll-height: 20vh;
    --scroll-elements-displayed: 4;
    --scroll-elements-width: calc(var(--scroll-width)/var(--scroll-elements-displayed));
    --scroll-animation-duration: calc(var(--scroll-elements)*2s);

    --scroll1-animation-duration: calc(var(--scroll-elements)*2s);

    --check: 1;
}


.scroll_auto{
    margin: 0px 10%;
    width: var(--scroll-width);
    height: var(--scroll-height);
    overflow: hidden;
}

/**Create the scrolling for NEW STORE **/
.scroll_content{
    list-style: none;
    height: 100%;
    display: flex;
    border: none;
    animation: scrolling var(--scroll-animation-duration) linear infinite; 
}

@keyframes scrolling {
    0% { transform: translateX(0vw);}
    100% { transform: translateX(calc(-1*var(--scroll-elements-width)*var(--scroll-elements)));}
}


.scroll_content > li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--scroll-elements-width);
    flex-shrink: 0;
    white-space: nowrap;
}

.scroll_content > li > a > img{
    border: 1px solid grey;
    margin: 1% 5px;
    padding: 2px;
    object-fit:scale-down;
    width: 15vw;
    height: 100px;
}

.scroll_content > li:hover > a > img{
    border: none;
}

.scroll_content:hover{
    animation-play-state: paused;
}

/** Create the scrolling for NEW PRODUCT **/

.scroll_content1{
    list-style: none;
    height: 100%;
    display: flex;
    border: none;
    animation: scrolling var(--scroll1-animation-duration) linear infinite; 
}

@keyframes scrolling {
    0% { transform: translateX(0vw);}
    100% { transform: translateX(calc(-1*var(--scroll-elements-width)*var(--scroll1-elements)));}
}


.scroll_content1 > li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--scroll-elements-width);
    flex-shrink: 0;
    white-space: nowrap;
}

.scroll_content1 > li > a > img{
    border: 1px solid grey;
    margin: 1% 5px;
    padding: 2px;
    object-fit:scale-down;
    width: 15vw;
    height: 100px;
}

.scroll_content1 > li:hover > a > img{
    border: none;
}

.scroll_content1:hover{
    animation-play-state: paused;
}

/** Create the display **/
.display_auto{
    margin: 0px 10%;
    width: 80%;
    height: 20vh;
}

.display_content{
    height: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 0px 10%;
}


.display_content > a > img{
    border: 1px solid grey;
    margin: 10px 20px;
    object-fit:scale-down;
    width: 200px;
    height: 100px;
}

.display_content > a:hover > img{
    border: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    :root{
        --scroll-width: 60vw;
        --scroll-height: 16vh;
        --scroll-elements-displayed: 3;
    }

    .display_auto{
        display: block;
        height: 100%;
        width: 100%;
        margin: none;
    }
    .display_content{
        display:inline-block;
        overflow: none;
        height: 100%;
        width: 80%;
    }

    .display_content > a > img{
        width: 150px;
    }
}

@media screen and (max-width: 767px) {

    .scroll_auto{
        width: 80%;
        height: 100%;
        overflow: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /** Edit for NEW STORE **/
   
    .scroll_content{
        animation: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 1% 10%;
        padding: 0px;
    }

    .scroll_content > li > a >img{
        width: 200px;
    }

    /** Edit for NEW PRODUCT **/
    .scroll_content1{
        animation: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 1% 10%;
        padding: 0px;
    }

    .scroll_content1 > li > a >img{
        width: 200px;
    }

    .display_auto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .display_content{
        width:80%;
        margin: 1% 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}